---
name: Branch revision

on:
  pull_request:
    branches: [main]
    types:
      - synchronize
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./engine

jobs:
  packages:
    timeout-minutes: 10
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/checkout-repos
      - uses: ./.github/actions/setup-tools
      - run: task packages
